@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

section {
    width:100%;
    position: relative;
}

body { 
  font-family: 'DM Sans', sans-serif;
}

.wd-1440 {
    max-width: 1440px;
}

.jc-center {
    justify-content: center;
}

.jc-space-beet {
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin:0 auto;
}

.pad-lr-5 {
    padding: 0 5%;
}

/* DESKTOP */

#header {
    height: 100px;
    z-index: 20;
    position: absolute;
    left: 0;
    top: 0;
  }

  #header img {
    height: 50px;
    width: auto;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
  }

  nav a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px; 
    font-weight: 500;
  }
  
  .header a:hover {
    color: #343B53;
  }
  
  .menu {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  }

  .mySlides {
    display:none;
    width: 100%;
}

#slider {
    height: 100vh;
    overflow: hidden;
    z-index:1;
}

.slider-image {
    filter: brightness(0.5);
    margin: 0 auto;
}

.text-hero {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    color: white;   

}

.title {
    font-size: 3rem;
    font-weight: 700;
}

.subtitle {
    font-size: 18px;
}

.isi {
    width: 90vw;
    display: grid;
    grid-template-columns: 1.5fr 1fr; 
    grid-column-gap: 2rem;
    padding: 20px 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.isi .content img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.isi .meta {
    width: 80%;
}

.isi .content .content__quote {
    font-size: 24px;
    color: #798da3;
    line-height: 30px;
    font-style: oblique;
}

.blurb {
    display: grid;
    grid-template-columns: 1fr 3fr; 
    margin-top: 20px;
    width: 270px;
  }
  
  .avatar {
    width: 50px;
  }
  
  .rounded {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .avatar img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .blurb .name, .blurb .position {
    font-family: 'Lora';
    font-size: 14px;
    color: #495057;
  }

  .blurb .position {
    color: #9fafc1;
  }
  
  .bio {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }

  .isi hr {
    width:20%;
    border: 2px solid #ddd;
    border-radius: 99px;
  }

  .isi .description {
    color: #3b4754;
    line-height: 30px;
  }

  .info-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .list {
    display: flex;
    align-items: center;
  }

  .number {
    font-size: 1.5rem;
    margin-right: 1rem;
    background-color: #eeeeee;
    color: #9fafc1;
    font-weight: 700    ;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.data input {
    border-radius: 5px;
    font-size: 1rem;
    border: 3px solid #cbd6ee;
    outline: transparent;
    font-family: inherit;
    padding: 10px;
    color: #333;
    background-color: white;
}

.benefit {
    font-size: 14px;
    font-weight: 400;
    color: #798da3;
}

.form__grab {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 10px;
    padding: 40px;
}

.data {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.interest {
    border-radius: 5px;
    font-size: 1rem;
    border: 3px solid #cbd6ee;
    outline: transparent;
    font-family: inherit;
    padding: 10px;
    color: var(--black);
    background-color: white;
}

.submit-form {
    outline: transparent;
    border: none;
    font-family: inherit;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    background-color: #4F93DA;
    overflow: hidden;
    transition: all 200ms ease-in-out;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.our-package {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
}

.our-package h1 {
    font-size: 3rem;
    color: #29323d;
}

#packages {
  border-bottom: 1px solid #aaa;
}

.packages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  padding: 2rem 5%;
  margin: 0 auto;
  grid-row-gap: 2rem;
}
.package-wisata {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.package-wisata img {
  width: 50px;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  border-bottom: 1px solid #aaa;
}
.cta-wrap {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.our-package h1 {
  font-size: 3rem;
  color: #29323d;
}

button {
  outline: transparent;
  border: none;
  font-family: inherit;
  border-radius: 5px;
  font-size: 1.2rem;
  color: white;
  background-color: #4F93DA;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  padding: 10px 2rem;
}

footer {
  background-color: #121212;
  color: white;
  font-size: 12px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

footer img {
  height: 50px;
  width: auto;
}

.term-privacy {
  display: flex;
  gap: 10px;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-align: center;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
}


/* TABLET */
@media (max-width: 640px) {
  .menu {
    align-items: center;
}

#slider {
  height: 250px;
}

.title {
  font-size: 1.5rem;
}

.subtitle {
  font-size: 13px;
}

.text-hero {
  height: 250px;
  row-gap: 3px;
}

.isi {
  width: 100vw;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
}

.form__grab {
  gap: 15px;
  padding: 20px;
}


.isi {
  width: 90vw;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
}

.isi .meta {
  width: 100%;
}

.isi .content .content__quote {
  font-size: 18px;
}

.isi .description {
  line-height: 20px;
  font-size: 1rem;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
}

.number {
  font-size: 1rem;
  height: 30px;
  width: 30px;
}

.data input {
  font-size: 14px;
}

.interest {
  font-size: 14px;
}

.our-package h1 {
  font-size: 2rem;
}

.packages {
  grid-template-columns: repeat(1, 1fr);
}

button {
  font-size: 14px;
}
}

@media (max-width: 768px) {
  .text-hero {
    height: 250px;
}

#slider {
    height: 100%;
}

.isi {
    width: 90vw;
}

.form__grab {
  gap: 20px;
  padding: 20px;
}

.data input, .interest {
  font-size: 1rem;
}

.submit-form {
  font-size: 14px;
}

.packages {
  grid-template-columns: repeat(2, 1fr);
}

.package-wisata img {
  width: 40px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}
}